In [2]:
import sys
sys.path.append("C:\\Users\\KlimovaAnnaA\\Documents\\MyFiles\\Projects\\OCP")
from Defs import merge_SalesUnits
from Defs import merge_Mapping
from Defs import Period
from Defs import new_list
from Defs import export_from_RISKCUSTOM
from Defs import add_in_currency_column
from Defs import concat_columns
from Defs import export_from_WHWEEK

In [6]:
query = f"""
select * from "unifiedOcp"
where "reportDate" = TO_DATE('{Today}', 'DD/MM/YY')
and "sourceSystem" = 'BANK_ACCOUNTS_BALANCE_XLS'
"""

data = export_from_WHWEEK(query)
data

,##batch_id,##deleted,##inserted,##origin_name,reportDate,rowType,sourceSystem,sourceTable,recordId,balanceItem,...,maturityDateToDays,timeBucket,notionalCurrency,volumeNotionalCurrency,effectiveCurrency,effectiveCurrencyRate,volumeEffectiveCurrency,usdRate,volumeUsd,salesUnitsId
0,35539736@WHWEEK,N,2024-04-15 17:52:23,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,00.00.00.000,On-balance,...,0,<1M,USD,0.000000e+00,USD,1,0.000000e+00,1.000000,0.000000e+00,7100
1,35539736@WHWEEK,N,2024-04-15 17:52:23,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,0000000100200102,On-balance,...,0,<1M,USD,5.755317e+04,USD,1,5.755317e+04,1.000000,5.755317e+04,CHTRD
2,35539736@WHWEEK,N,2024-04-15 17:52:23,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,000000229823262,On-balance,...,0,<1M,USD,9.561136e+05,USD,1,9.561136e+05,1.000000,9.561136e+05,CHEAG
3,35539736@WHWEEK,N,2024-04-15 17:52:23,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,00000100300001,On-balance,...,0,<1M,TRY,1.000000e-02,TRY,1,1.000000e-02,0.030938,3.093791e-04,7B00
4,35539736@WHWEEK,N,2024-04-15 17:52:23,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,00000100300101,On-balance,...,0,<1M,USD,0.000000e+00,USD,1,0.000000e+00,1.000000,0.000000e+00,7B00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3617,35539736@WHWEEK,N,2024-04-15 17:52:23,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,technical_external9H003,On-balance,...,0,<1M,RUB,1.000000e+08,RUB,1,1.000000e+08,0.010815,1.081531e+06,9H00
3618,35539736@WHWEEK,N,2024-04-15 17:52:23,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,technical_externalF1991,On-balance,...,0,<1M,RUB,8.605521e+05,RUB,1,8.605521e+05,0.010815,9.307140e+03,F199
3619,35539736@WHWEEK,N,2024-04-15 17:52:23,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,technical_externalF1992,On-balance,...,0,<1M,RUB,1.138536e+08,RUB,1,1.138536e+08,0.010815,1.231362e+06,F199
3620,35539736@WHWEEK,N,2024-04-15 17:52:23,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,technical_frozen7Q00,On-balance,...,0,<1M,PLN,1.423756e+08,PLN,1,1.423756e+08,0.251307,3.577994e+07,7Q00
3621,35539736@WHWEEK,N,2024-04-15 17:52:23,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,technical_frozenBCS-7B00,On-balance,...,0,<1M,PLN,4.505167e+06,PLN,1,4.505167e+06,0.251307,1.132179e+06,BCS-7B00

In [3]:
Today = '29/03/24'
query = f"""select * from "RISKACCESS"."unifiedOcp" where "reportDate" = TO_DATE('{Today}', 'DD/MM/YY')"""
data_Debt_export = export_from_RISKCUSTOM(query)
data_Debt_export.head(2)

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:80: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

,##batch_id,##deleted,##inserted,##origin_name,reportDate,rowType,sourceSystem,sourceTable,recordId,balanceItem,...,maturityDateToDays,timeBucket,notionalCurrency,volumeNotionalCurrency,effectiveCurrency,effectiveCurrencyRate,volumeEffectiveCurrency,usdRate,volumeUsd,salesUnitsId
0,35566307@WHPROD,N,2024-04-15 19:17:40,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,00.00.00.000,On-balance,...,0,<1M,USD,0.00,USD,1,0.00,1.0,0.00,7100
1,35566307@WHPROD,N,2024-04-15 19:17:40,WHFLEX,2024-03-29,W,BANK_ACCOUNTS_BALANCE_XLS,bankAccountsBalance,0000000100200102,On-balance,...,0,<1M,USD,57553.17,USD,1,57553.17,1.0,57553.17,CHTRD

In [8]:
data = export_from_RISKCUSTOM("""select * from "RISKACCESS"."mdgSalesUnits" """)
data[data.id.str.contains('V800')]

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:80: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)

,##batch_id,##deleted,##inserted,##origin_name,id,division,instance,registryCountry,registryIdentifier,OEBSIntegrated,...,businessSegment,market,businessType,comercialArea,bcsCode,chartOfAccounts,ocpSegment,affiliatedHolding,businessSegmentDetailed,quantumId
128,35603164@WHPROD,N,2024-04-16 19:50:16,WHFLEX,V800,None,SAP,RU,None,NaN,...,SGC,None,Power,SGC,SG2N00,1000,SGC,None,SGC,None